body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #0b0b0b;
}

.calculator {
    background-color: #fb8c0000;
    border-radius: 5px;
    box-shadow: 0 0 10px #E1F5FE;
    padding: 35px;
    text-align:right;
    
}

#display {
    width: 93%;
    height:3rem;
    padding: 10px;
    font-size: 27px;
    margin-bottom: 15px;
    text-align:left;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 18px;
    background-color: #403737f2;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #E91E63;
}
